__1. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.__

In [6]:
def is_symmetrical(num):
    s = str(num)
    s = s[::-1]
    n = int(s)
    if num == n:
        return True
    else:
        return False

x = is_symmetrical(1743)
print(x)

y = is_symmetrical(7227)
print(y)

False
True

__2. Given a string of numbers separated by a comma and space, return the product of the
numbers.__

In [9]:
def multiply_nums(ts):
    ts = ts.replace(" ",'')
    ts = ts.split(",")
    prod=1
    
    for i in ts:
        prod *= int(i)
    return prod

pr = multiply_nums("2, 3")
print(pr)

6

__3. Create a function that squares every digit of a number.__

In [12]:
def square_digits(num):
    s = str(num)
    sq=""
    for i in s:
        l = int(i) * int(i)
        sq = sq + str(l)
    return int(sq)

x = square_digits(9119)
print(x)

y = square_digits(2483)
print(y)

811181
416649

__4. Create a function that sorts a list and removes all duplicate items from it.__

In [13]:
def setify(in_list):
    out_list = sorted(set(in_list))
    print(f'{in_list} ➞ {out_list}')
    
setify([1, 3, 3, 5, 5]) 
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 3, 3, 5, 5] ➞ [1, 3, 5]
[4, 4, 4, 4] ➞ [4]
[5, 7, 8, 9, 10, 15] ➞ [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] ➞ [1, 2, 3]

__5. Create a function that returns the mean of all digits.__

In [16]:
def mean(num):
    sum = 0
    l = len(str(num))
    while num>0:
        d = num % 10
        sum += d
        num //= 10
    mean_avg = sum // l
    return mean_avg

x = mean(42)
print(x)

y = mean(12345)
print(y)

3
3